<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="30px" fxLayoutAlign="center center">
    <section class="card">
        <h1>ACTIVITY
                <div class="bar"><div class="filledbar"></div></div>
                <br />
                <br />
                <br />
                <br />
                <font face="Roboto" color="black" size="4">
                    <p>Stay active and enjoy better health and more fun! Use this app for easy tracking of your active lifestyle</p>
                </font></h1>
    </section>
    <section class="card">
        <h1>LOG MAINTAINENCE
                <div class="bar"><div class="filledbar"></div></div>
                <br />
                <br />
                <br />
                <br />
                <font face="Roboto" color="black" size="4">
                    <p>Keep track of all your exercises through a simple and plain tabular data showcasing</p>
                </font></h1>
    </section>
    <section class="card">
        <h1>CHALLENGES
                <div class="bar"><div class="filledbar"></div></div>
                <br />
                <br />
                <br />
                <br />
                <font face="Roboto" color="black" size="4">
                    <p>Never stop! Dive into new challenges every day by choosing through a variety of exercises</p>
                </font></h1>
    </section>
</div>